image: python:3.7.6-buster

stages:
    - build
    - test

build_env:
    stage: build
    script:
        - pip install -r requirements.txt
        - pip install -r requirements-dev.txt

test:
    stage: test
    script:
        - black --check .
        - pytest --cov-config=.coveragerc --cov=resc --cov-report=html
    artifacts:
        paths:
            - htmlcov
